
/* ---- START Regole Generali ---- */

* {
    margin: 0;
    padding: 0;
}

/* ---- END Regole Generali ---- */


/* ---- START Regole Navbar ---- */

.navbar{
    display: flex;
    align-items: center;
    position: absolute; /* non necessario */
    top: 0px;
    right: 0px;
    left: 0px;
    background: rgb(0, 0, 0);
}

.container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px 20px;
    position: relative;
}

.siteName{
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
}

.buttonCamera{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 14px 0px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(49, 48, 48);
    border-radius: 10px;
    cursor: pointer;
    background-color:  white;
    background-image: url(../Immagini/Camera.png);
    background-size: 42px 42px;
    background-repeat: no-repeat;
    background-position: 4px 3px;
}

/* ---- END Regole Navbar ---- */

/* ---- START Stile Mappa ---- */

.main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}

#mapid {
    width: 100vw;
    height: 100vh;
}

.leaflet-top .leaflet-control {
    margin-top: 90px;
}

.leaflet-left .leaflet-control {
    margin-left: 15px;
}

/* ---- END Stile Mappa ---- */

/* ---- START Stile Fotocamera ---- */

.panel{
    display: none;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
}

.panelPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #c1bbbb;
}

.panelControls{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 120px;
    background-color: #6a6868;
}

#snap{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}

.rollBack {
    width: 60px;
    height: 60px;
    border-radius: 10%;
    background-color: #ff0311;
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 20px;
    align-content: center;
    color: black;
}

#canvas{
    position: absolute;
    top: 0px;
    left: 0px;
}


/* ---- END Stile Fotocamera ---- */

