


/* ---- START Regole Generali ---- */

* {
    margin: 0;
    padding: 0;
}

/* ---- END Regole Generali ---- */





/* ---- START Regole Navbar ---- */

.navbar{
    display: flex;
    align-items: center;
    position: absolute; /* non necessario */
    top: 0px;
    right: 0px;
    left: 0px;
    background: #111;  /* contro contrasto eccessivo */
}

.container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px 20px;
    position: relative;
}

.siteName{
    color: #eee; /* contro contrasto eccessivo */
    display: flex;
    align-items: center;
    height: 80px;
}

/* ---- END Regole Navbar ---- */





/* ---- START Stile Mappa ---- */

.main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}

#mapid {
    width: 100vw;
    height: 100vh;
}

.leaflet-top .leaflet-control {
    margin-top: 90px;
}

.leaflet-left .leaflet-control {
    margin-left: 15px;
}

.buttonPopup{
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(49, 48, 48);
    border-radius: 10px;
    cursor: pointer;
    background-color:  white;
    background-size: 42px 42px;
    background-repeat: no-repeat;
    background-position: 4px 3px;
}

.camera {
    background-image: url(../Immagini/Camera.png);
}

.gallery {
    background-image: url(../Immagini/galleria.png);
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup p{
    font-size: 0.9rem;
    text-align: center;
}

/* ---- END Stile Mappa ---- */





/* ---- START Stile Fotocamera ---- */

#panel{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
}

#panelPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c1bbbb;
    position: fixed;
    height: 90%;
    width:100%;
}

#video{
    display: none;
}

#canvas{
    display: none;
}

.panelControls{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6a6868;
    height: 11%;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px 20px;
    position: relative;
    height: 50px;
}

#snapButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #eee;
    border-style: none;
    cursor: pointer;
}

.controlButton {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    background-color: #eee;
    border-style: none;
    cursor: pointer;
    background-size: 42px 42px;
    background-repeat: no-repeat;
    background-position: 4px 3px;
}

#rollBack {
    background-image: url(../Immagini/cancel.png);
}

#switchCamera {
    background-image: url(../Immagini/change.png);
}

.container2 {
    display: flex;
    align-items: center;
}

@media screen and (max-height: 510px){

    .panelControls{
        height: 14%;
    }

}

@media screen and (max-height: 430px){

    .panelControls{
        height: 17%;
    }

}

@media screen and (max-height: 350px){

    .panelControls{
        height: 20%;
    }

}

/* ---- END Stile Fotocamera ---- */





/* ---- START Stile Editor ---- */

.bottone {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    float: left;
    margin-right: 3px;
    padding: 3px;
}

#controls {
    display: none;
    order: -1;
}

#controls p{
    font-size: 20px;
    font-weight: bold;
}

.clearer {clear: both;}

#buttonGreen { background-color: green;}
#buttonBlue { background-color: blue;}
#buttonRed { background-color: red;}
#buttonYellow { background-color: yellow;}
#buttonBlack { background-color: black;}
#buttonOrange { background-color: orange;}
#buttonWhite { background-color: white;}
#bottoneCancella { background-color: black; color: white; width: auto; font-size: 20px; text-align: center; height: 25px;}

#confirm {
    background-image: url(../Immagini/confirm.png);
    margin-left: 6px;
}


/* ---- END Stile Editor ---- */

